@import url('https://fonts.googleapis.com/css2?family=Inria+Serif&display=swap');

html, body {
  margin: 0; 
  padding: 0; 
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

.canvas { 
  top: -1000px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #0A0B3A;
  overflow-x: hidden;
}

p{
  font-family: 'Inria Serif', serif;
  color:#FBC744;
  font-size: 15pt;
}

h1{
  font-family: 'Inria Serif', serif;
  color:#FBC744;
  font-size: 35pt;
  margin: 0;
  padding: 0;
}

h2{
  font-family: 'Inria Serif', serif;
  color:#FBC744;
  font-size: 30pt;
  margin: 0;
  padding: 20px;
}

button {
  border: none;
  margin: 0;
  left: 700px;
  top: 700px;
  padding: 0;
  background: transparent;
  position: relative;
}

.gif {
  border: none;
  margin: 0;
  padding: 0;
  background: transparent;
  position: relative;
}

.stanza1 {
  border: none;
  margin: 0;
  padding: 0;
  left: 1000px;
  top: 60px;
  background: transparent;
  position: relative;
}

.stanza2 {
  border: none;
  margin: 0;
  padding: 0;
  left: 1000px;
  top: 60px;
  background: transparent;
  position: relative;
}

.stanza3 {
  border: none;
  margin: 0;
  padding: 0;
  left: 1000px;
  top: 60px;
  background: transparent;
  position: relative;
}

.star4 {
  border: none;
  margin: 0;
  padding: 0;
  left: 650px;
  top: 600px;
  background: transparent;
  position: fixed;
  z-index: 10;
}

#starbody{ 
overflow-y: hidden;
}

h3 {
  position: absolute;
  top: 30%;
  left: 30%;
  color: #FBC744;
  font-size: 20px;
}

h3::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: bottom;
  transform: rotateX(180deg);
  line-height: 0.85em;
  color: transparent;         
  opacity: 0.2;
}
