@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Zeyada&display=swap');

html {
    background: azure;
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#Matrix {
    position: absolute;
    z-index: 1; 
}

h1 {
    font-size: 30px;
    font-family: 'Zeyada', cursive;
    position: absolute;
    z-index: 5;
    color: azure;
    top: 75%;
    left: 45%;
}

h1 :hover{
    font-size: 30px;
}